---
layout: default
title: Anthony A. Nader | Software Developer
---

<section class="project-container" id="projects">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1>Software Projects</h1>
            </div>
            {% include softwareProjects.html %}
        </div>
    </div>
</section>
<section class="intro-container" id="intro">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1>Music Projects</h1>
            </div>
            {% include musicProjects.html %}
        </div>
    </div>
</section>
