<!-- Blog HTML -->
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <!-- Blog Post -->
                {% for post in site.posts %}
                <div class="col s12 m6 l6">
                    <div id="preview-blog-card"class="card">
                      <div class="card-image">
                        {% if post.image %}
                        <img class="responsive-img" src="{{ post.image }}" alt="{{ post.title}}">
                        {% endif %}
                        <span class="card-title">{{ post.title }}</span>
                      </div>
                      <div class="card-content">
                        <p>by {{ post.author }}</p>
                      </div>
                      <div class="card-action">
                        <a href="{{ post.url }}">Read</a>
                      </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
