<!-- Blog Post Preview Loop -->
<div class="container">
    <div class="row">
        <div id="blog-image-column" class="col s12">
            <!-- Blog Post -->
            {% for post in site.posts %}
                <div class="col s12 m6 l6">
                    <div class="card">
                        <div class="card-image">
                            {% if post.image %}
                                <a href="{{ site.baseurl }}{{ post.url }}">
                                <img class="responsive-img card-preview-img" src="{{ site.baseurl }}/assets/img/{{ post.image }}" alt="{{ post.title }}">
                                </a>
                            {% endif %}
                            <span class="card-title">{{ post.title }}</span>
                        </div>
                        <div class="card-content">
                            <blockquote>
                                {{ post.lead }}
                            </blockquote>
                            <p>{{ post.date | date: "%B %d, %Y" }} </p>
                        </div>
                        <div class="card-action">
                            <a class="card-action-read" href="{{ site.baseurl }}{{ post.url }}">Read</a>
                            {% for category in post.categories %}
                                <span class="category-tag">{{ category }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
