<div class="navbar-fixed">
    <nav>
        <div class="container large-container-reduce">
            <div class="nav-wrapper z-depth-1">
                <a href="{{ "/index.html" | prepend: site.baseurl }}" class="waves-effect brand-logo center">/\ /\.|\|</a>
                 <a href="#" data-target="mobile-demo" class="sidenav-trigger button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="left hide-on-med-and-down nav-links">
                    <li {% if page.url == "/" %} class="active" {% endif %} ><a href="{{ "/" | prepend: site.baseurl }}"><strong>P</strong>ROJECTS</a></li>
                    <li {% if page.url == "/about/" %} class="active" {% endif %} ><a href="{{ "/about/" | prepend: site.baseurl }}"><strong>S</strong>TORY</a></li>
                    <li {% if page.url contains "/blog/" %} class="active" {% endif %} ><a href="{{ "/blog/" | prepend: site.baseurl }}"><strong>B</strong>LOG</a></li>
                    <li {% if page.url == "/contact/" %} class="active" {% endif %} ><a href="{{ "/contact/" | prepend: site.baseurl }}"><strong>C</strong>ONTACT</a></li>
                </ul>
                <ul id="nav-mobile" class="right hide-on-med-and-down nav-socials">
                    <li><a href="{{ site.github }}" target=_blank><span class="fab fa-github-alt"></span></a></li>
                    <li><a href="{{ site.linkedin }}" target=_blank><span class="fab fa-linkedin-in"></span></a></li>
                    <li><a href="{{ "/assets/docs/anthonyResume.pdf" | prepend: site.baseurl }}" target=_blank><span class="far fa-file-alt"></span></a></li>
                    <li><a href="{{ site.twitter }}" target=_blank><span class="fab fa-twitter"></span></a></li>
                </ul>
                <ul class="sidenav" id="mobile-demo">
                    <li><a href="{{ "/" | prepend: site.baseurl }}">PROJECTS</a></li>
                    <li><a href="{{ "/about/" | prepend: site.baseurl }}">STORY</a></li>
                    <li><a href="{{ "/blog/" | prepend: site.baseurl }}"><strong>B</strong>LOG</a></li>
                    <li><a href="{{ "/contact/" | prepend: site.baseurl }}">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
