<nav>
    <div class="container">
        <div class="nav-wrapper z-depth-5">
            <a href="#" class="brand-logo center">ANTHONY A. NADER</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li><a href="#">HOME</a></li>
              <li><a href="#">ABOUT</a></li>
              <li><a href="#">BLOG</a></li>
            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down nav-socials">
              <li><a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-quora" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</nav>
