<div class="col s12 m6 l6 xl6">
    <div class="col s12 m10 offset-m1">
        <ul class="timeline-component collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><span class="timeline-header"> <b>E</b>DUCATION</span></div>
                <div class="collapsible-body">
                    <b>University of Ottawa</b><br>
                    <span>B.A.Sc. in Software Engineering</span><br>
                    <span class="grey-text">2015 - 2019</span>
                    <br><br>
                    <b>Concordia University (JMSB)</b><br>
                    <span>B.Comm. in Business Management </span><br>
                    <span class="grey-text">2011 - 2015</span>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><span class="timeline-header"><b>M</b>ILESTONES</span></div>
                <div class="collapsible-body">
                    <b>2013</b><span> | Signed First Two Records</span><br><br>
                    <b>2014</b><span> | Digital Marketing Manager @ <a class="pink-hover" href="http://genatec.com/" target="_blank">Genatec</a></span><br><br>
                    <b>2015</b><span> | Candidate for Honours B.A.Sc. in Software Engineering</span><br><br>
                    <b>2016</b><span> | Vice President of Marketing @ <a class="pink-hover" href="https://uottawa-sesa.ca/" target="_blank">SESA</a></span><br><br>
                    <b>2017</b><span> | Software Developer @ <a class="pink-hover" href="https://www.signiant.com/" target="_blank">Signiant</a></span><br><br>
                    <b>2018</b><span> | Achieved Dean's Honour List</span><br>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><span class="timeline-header"><b>I</b>NTERESTS</span></div>
                <div class="collapsible-body">
                    <span><b>Music</b></span><br>
                    <span>Composing Music | Piano</span><br><br>
                    <span><b>Activities</b></span><br>
                    <span>Skiing | Fitness Training</span><br><br>
                    <span><b>Games</span></b><br>
                    <span>MMORPG | RTS | Chess</span><br><br>
                    <span><b>Finance</b></span><br>
                    <span>Dividend Growth Investing</span>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><span class="timeline-header"><b>S</b>OCIALS</span></div>
                <div class="collapsible-body" style="text-align: center;">
                    <span class="story-socials">
                        <a href="{{ site.spotify }}" target=_blank><i class="fab fa-spotify fa-1x"></i></a>
                        <a href="{{ site.soundcloud }}" target=_blank><i class="fab fa-soundcloud fa-1x"></i></a>
                        <a href="{{ site.goodreads }}" target=_blank><i class="fab fa-goodreads"></i></a>
                        <a href="{{ site.linkedin }}" target=_blank><i class="fab fa-linkedin-in fa-1x"></i></a>
                        <a href="{{ site.twitter }}" target=_blank><i class="fab fa-twitter fa-1x"></i></a>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</div>
