/***********************
        GENERAL
***********************/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer p {
    margin: 0;
    padding: 0;
}
footer .footer-text {
    font-size:10px;
    font-size: 1.5vmin;
    font-weight: 300;
    letter-spacing: 1px;
}
.page-footer{
    padding: 10px;
}
.pink-hover:hover {
    color: #EC6F75
}
@media (max-width:576px) {
    h1 {
        text-align: center;
        font-size: 2.5rem;
        line-height: 0.8em;
    }
    h2 {
        font-size: 2rem;
        line-height: 0.8em;
    }
}
@media (min-width:768px) {

}

@media (min-width:992px) {

}

/***********************
        NAVBAR
***********************/
nav {
    background-color: #EEEEEE !important;
}
nav a {
    color: #333333 !important;
}
nav .nav-socials {
    margin-right: -15%;
}
.nav-socials a {
    font-size: 17px !important;
}
nav .nav-socials span {
    opacity: 0.8;
}
nav .brand-logo {
    font-size: 2em;
    font-weight: 300;
}
nav .nav-links {
    margin-left: -15%;
}
.nav-links li a {
    font-weight: 300;
}
.navbar-fixed {
    z-index: 9999;
}

/***********************
        PROJECTS
***********************/
.card-reveal p {
    text-align: justify;
    text-justify: inter-word;
}
.card-reveal a {
    color: #333333;
}
.card .card-reveal {
    top:99%;
}
.project-image img {
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.project-image:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.inner-card-links a:hover{
    color: #EC6F75
}

/***********************
        BLOG
***********************/
#blog-image-column {
    margin-top: 1%;
}
#post-content p {
    text-align: justify;
    text-justify: inter-word;
}
.image-source p {
    margin: 0;
    color: #525252;
    font-style: italic;
    font-size: 0.9em;
    font-weight: 300;
    line-height: 20px;
}
.row-full{
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}
.category-tag {
    margin:0 1%;
    padding:0 2%;
    color: #22313F;
    opacity: 0.8;
    font-size: 0.9em;
    font-weight: 300;
    float: right !important;
}
.card .card-image .card-title {
    padding: 20px 0 10px 20px;
    font-size: 35px;
    line-height: 40px;
    font-weight: 100;
}
.card .card-content blockquote {
    font-weight: 100;
    opacity: 0.8;
    min-height: 50px;
}
.card-action-read {
    color: #EC6F75 !important;
}

/***********************
    CONTACT FORM
***********************/
#contact_name:focus, #message_content:focus, #email:focus {
  border-bottom: 1px solid #212121;
  box-shadow: 0 1px 0 0 #212121;
}

#contact_name:focus + label, #message_content:focus + label, #email:focus + label {
  color: #212121;
}
.contact-info-text {
    text-align: justify;
    letter-spacing: 1px;
    line-height: 2em;
}
.contact-socials a {
    padding: 0 3%;
    opacity: 0.8;
    color: #212121;

}
.contact-socials a:hover {
    opacity: 1;
    color: #EC6F75;
}
.submit-btn  {
    cursor: pointer;
    background-color: white;
    font-size: 1.2em;
    border: solid;
    border-radius: 2px;
    border-width: 2px;
    border-color: #EC6F75;
    box-shadow: none !important;
    color: #EC6F75 !important;
    text-shadow: none !important;
    height: auto;
    padding: 3% 5%;

}
.submit-btn:hover {
    border-color: rgba(236, 111, 117, 0.6)!important;

}
.submit-btn:focus {
    background-color: white !important;
}

/***********************
        STORY
***********************/
.story-text{
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.8em;
}
.story-socials a{
    font-size: 1.5em;
    padding: 0 3%;
    opacity: 0.8;
    color: #212121;
}
.story-socials a:hover{
    opacity: 1;
    color: #EC6F75;
}

.timeline-header {
    display:table;
    margin:0 auto;
    font-weight: 300;

}
.timeline-header:hover {
    color: #EC6F75;
}
@media (min-width:600px) {
    .timeline-component {
        margin-top: 6%;
    }
}
