/***********************
        NAVBAR
***********************/
nav {
    background-color: #EEEEEE !important;
}
nav a {
    color: #333333 !important;
}
.nav-socials i {
    font-size: 1.25em;
}
nav .brand-logo {
    font-size: 2em;
    font-weight: 300;
}
.navbar-fixed {
    z-index: 9999;
}
/***********************
        HEADER
***********************/
.header-image {
    background-image: url("../img/heroSplashHeader1.jpg");
    padding-top: 5px;
    background-repeat: no-repeat;
    height: 75vh;
    background-size: cover;
}
.blog-content-preview {
    height: 1000px;
}
