/***********************
        NAVBAR
***********************/
nav {
    background-color: #EEEEEE !important;
}
nav a {
    color: #333333 !important;
}
nav .nav-socials {
    margin-right: -10%;
}
nav .nav-socials i {
    opacity: 0.8;
    font-size: 1.25em;
}
nav .brand-logo {
    font-size: 2em;
    font-weight: 300;
}
nav .nav-links {
    font-weight: 100;
    margin-left: -10%;
}
.navbar-fixed {
    z-index: 9999;
}
/***********************
        INTRO
***********************/
#intro {
    height: 75vh;

}

.introHeadshot {
    display: block;
    margin: 5% auto 2%;
    height: 75%;
    width: 75%;
}

/***********************
        GENERAL
***********************/
.lead {
    font-family: Lato;
    font-weight: 100;

}

/***********************
        PROJECTS
***********************/
.card-reveal p {
    text-align: justify;
    text-justify: inter-word;
}
.card-reveal a {
    color: #333333 !important;
}
.project-image img {
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.project-image:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


/***********************
        BLOG
***********************/
#blog-image-column {
    margin-top: 1%;
}
#post-content p {
    text-align: justify;
    text-justify: inter-word;
}
.image-source p {
    margin: 0;
    color: #525252;
    font-style: italic;
    font-size: 0.9em;
    font-weight: 300;
    line-height: 20px;
}
.row-full{
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}
.category-tag {
    margin:0 1%;
    padding:0 2%;
    color: #22313F;
    opacity: 0.8;
    font-size: 0.9em;
    font-weight: 300;
    float: right !important;
}
.card .card-image .card-title {
    padding: 20px 0 10px 20px;
    font-size: 35px;
    line-height: 40px;
    font-weight: 100;
}
.card .card-content blockquote {
    font-weight: 100;
    opacity: 0.8;
    min-height: 50px;
}
.card-action-read {
    color: #EC6F75 !important;
}
