---
layout: default
---

<!-- POST HTML -->
<article id="post">
    <div class="container">
        <div class="row">
            <!-- Blog Post Content Column -->
            <div class="col s12">
            <!-- Blog Post -->
                <!-- Title -->
                <h1>{{ page.title }}</h1>

                <!-- Author | TimePosted -->
                <p>by {{ page.author }} | {{ page.date | date: "%B %d, %Y" }}</p>

                {% include blogImageDisplay.html %}

                <!-- Post Content -->
                <div id="post-content" class="row">
                    <div class="col s12 flow-text">
                        {{ page.content }}
                    </div>
                </div>
                    {% if page.previous %}
                    <span style="float: left;"><a class="pink-hover" rel="prev" href="{{ page.previous.url }}">Previous article</a></span>
                    {% endif %}

                    {% if page.next %}
                    <span style="float: right;"><a class="pink-hover" rel="next" href="{{ page.next.url }}">Next article</a></span>
                    {% endif %}
            </div>
        </div>
    </div>
</article>
