---
layout: default
comments: true
---

<article id="post">
    <div class="container">
        <div class="row">

            <div class="col s12">
                <h1 style="text-align: left;">{{ page.title }}</h1>

                <p>by {{ page.author }} | {{ page.date | date: "%B %d, %Y" }}</p>

                {% include blogImageDisplay.html %}

                <div class="row">
                    <div class="col s12 flow-text post-content">
                        {{ page.content }}
                    </div>
                </div>
                <div class="row">
                    <div class="s12 center-align">
                        {% if page.previous %}
                        <p><a class="pink-hover" rel="prev" href="{{ site.baseurl }}{{ page.previous.url }}">Previous Article </a>|
                        {% endif %}

                        {% if page.next %}
                        |<a class="pink-hover" rel="next" href="{{ site.baseurl }}{{ page.next.url }}"> Next Article</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% include disqus.html %}
        </div>
    </div>
</article>
